text view {
	box-sizing: border-box;
	font-weight: 400;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-size: 32rpx;
}

::-webkit-scrollbar {
  display: none;
	width: 0 !important;
	height: 0 !important;
	background: transparent
}